@import url('//fonts.googleapis.com/css?family=Changa:400,500,700&subset=arabic,latin-ext');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-color: #fff;
  font: 16px/1.5 Changa;
  padding: 10%;
}
p {
  margin: 0;
  padding: 0;
}

/* App */
.app {
  max-width: 1440px;
  margin: 0 auto;
}

/* Language Alignment */
[lang="ar-SA"] {
  text-align: right;
}
[lang="en-US"] {
  text-align: left;
}

/* Forms */
[class*="button"] {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto;
  padding: 8px 24px;
}
.primary-button {
  background-color: #fff;
  border-color: #000;
}
.primary-button:focus,
.primary-button:hover {
  background-color: #000;
  color: #fff;
}
.secondary-button {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.secondary-button:focus,
.secondary-button:hover {
  background-color: #fff;
  color: #000;
}
.small-button {
  font-size: 12px;
  padding: 8px 16px;
}

form label {
  display: block;
  font-weight: 500;
  text-align: center;
}
form label [lang="ar-SA"] {
  /* border-right: 2px solid #000; */
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
}
form textarea,
form input[type="email"],
form input[type="text"] {
  border: 2px solid #000;
  border-radius: 4px;
  font: 16px/1.5 Changa;
  padding: 4px;
  width: 100%;
}
form button [lang="ar-SA"] {
  border-right: 2px solid #fff;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
}
form button:hover [lang="ar-SA"],
form button:focus [lang="ar-SA"] {
  border-right-color: #000;
}
.input-group {
  margin-bottom: 20px;
}

/* Mood Inputs */
.mood-options {
  display: flex;
  justify-content: center;
}
.mood-options label {
  cursor: pointer;
  margin: 0 10px;
  height: 30px;
  width: 30px;
}

.mood-options label span {
  display: none;
}
[class*="mood-option"] {
  position: relative;
}
.mood-option-icon {
  display: block;
  height: 30px;
  position: absolute;
    top: 0;
    left: 0;
  width: 30px;
  z-index: 1;
}
.mood-options label .mood-option-icon {
  opacity: .7;
  transition: all 100ms linear;
}
.mood-options label:hover .mood-option-icon, 
.mood-option-selection:checked + .mood-option-icon{
  transform: scale(1.2);
}
.mood-option-selection:checked + .mood-option-icon {
  opacity: 1;
}
.mood-option-selection {
  visibility: hidden;
  position: absolute;
    top: 0;
    left: 0;
  z-index: 2;
}

/*  Mood icons */

.icon-circle {
  stroke:#000;
  stroke-miterlimit:10;
}
.icon-face {
  fill:none;
  stroke-linecap:round;
  stroke:#000;
  stroke-miterlimit:10;
}
#icon-happy .icon-circle {
  fill: #39b54a;
}
#icon-meh .icon-circle {
  fill: #fbb03b;
}
#icon-sad .icon-circle {
  fill: #ed1c24;
}

/* Modal */
.rodal-dialog {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 16px;
  padding: 24px;
  max-width: 475px;
}
.rodal-close {
  top: 10px;
  right: 10px;
}
.rodal-close:before,
.rodal-close:after {
  background-color: #333;
  height: 3px;
}

/* Masthead */
.masthead {}
.masthead .logo {
  display: block;
  height: 280px;
  margin: 0 auto 40px;
}
.masthead .intro {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 40px;
}
.masthead .intro p {
  flex: 0 0 48%;
}

/* Content */
.content .primary-button {
  margin-bottom: 40px;
}
.content .primary-button [lang="ar-SA"] {
  border-right: 2px solid #000;
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  margin-right: 10px;
  padding-right: 10px;
}

/* Responses */
.comments {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.comment[lang="ar-SA"] {
  text-align: right;
}
.comment {
  background-color: #000;
  border: 4px solid #fff;
  border-radius: 24px;
  color: #fff;
  flex: 0 0 33.333%;
  margin-bottom: 60px;
  padding: 24px;
}
.comment[data-mood]{
  position: relative;
}
.comment[data-mood]:before,
.comment[data-mood]:after {
  background-color: #efefef;
  border-radius: 60px;
  content: "";
  position: absolute;
    bottom: -34px;
  height: 60px;
  width: 60px;
  z-index: -1;
}
.comment[data-mood]:before {
  left: 32px;
}
.comment[data-mood]:after {
  right: 32px;
}
.comment[data-mood="happy"]:before,
.comment[data-mood="happy"]:after {
  background-color: #00B554;
}
.comment[data-mood="meh"]:before,
.comment[data-mood="meh"]:after {
  background-color: #FFAF4C;
}
.comment[data-mood="sad"]:before,
.comment[data-mood="sad"]:after {
  background-color: #F7162B;
}